main {
	position: relative;
}

.action-buttons {
	--spacing: .5rem;

	position: absolute;
	margin: var(--spacing);
	inset: 0 0 auto 0;
	height: var(--nav-width);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var(--spacing) * 3);

	padding: var(--spacing);
	border-radius: 4px;
	background-color: var(--color-gray);
}

.action-buttons > button {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: .5rem;
	border-radius: 4px;
	background-color: var(--color-dark);
	color: var(--color-light);

	transition: background-color .1s ease-in-out;
}

.action-buttons > button:hover {
	background-color: var(--color-gray);
}

.action-buttons > button > svg {
	height: 1.8rem;
	width: 2rem;
}

.form-container {
	height: calc(100vh - var(--header-height));
	overflow-y: auto;
	
	padding: .5rem;
	padding-top: calc(1rem + var(--nav-width));	
}

#settings-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

h2 {
	width: 100%;
	
	border-bottom: 1px solid var(--color-gray);
	padding: 1rem 1rem 0rem 1rem;

	font-size: clamp(1rem, 10vw, 2rem);
}

.table-container {
	width: 100%;
	overflow-x: auto;
	
	display: flex;
	justify-content: center;
}

.settings-table {
	--max-width: 55rem;
	width: 100%;
	max-width: var(--max-width);
	min-width: 20rem;

	border-spacing: 0px;
	border: none;
}

.settings-table td {
	--middle-spacing: .75rem;
	padding-bottom: 1rem;
	vertical-align: top;
}

.settings-table td:first-child {
	width: 50%;
	padding-right: var(--middle-spacing);
	text-align: right;
}

.settings-table td:nth-child(2) {
	min-width: calc(var(--max-width) * 0.5);
	padding-left: var(--middle-spacing);
}

.settings-table td p {
	color: var(--color-light-gray);
	font-size: .9rem;
}

.number-input {
	width: fit-content;
	display: flex;
	align-items: center;
	
	border: 2px solid var(--color-gray);
	border-radius: 4px;
	
	box-shadow: var(--default-shadow);
}

.number-input > input {
	width: auto;
	border: none;
	box-shadow: none;
	text-align: right;
}

.number-input > p {
	padding: .75rem .75rem .75rem 0rem;
}

.settings-table select {
	width: auto;
}

@media (max-width: 40rem) {
	#settings-form,
	.table-container {
		justify-content: flex-start;
	}
	
	h2 {
		text-align: center;
		padding-inline: 0;
	}

	.settings-table tbody {
		display: flex;
		flex-direction: column;
	}

	.settings-table tr {
		display: inline-flex;
		flex-direction: column;
	}

	.settings-table td {
		width: 100%;
	}

	.settings-table td:first-child {
		text-align: left;
	}
	
	.settings-table td:nth-child(2) {
		min-width: 0;
	}
}
