.form-container {
	max-width: 30rem;
	margin-inline: auto;
}

.form-container > form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.form-container > form input,
.form-container > form select,
.form-container > form textarea,
.form-container > form button {
	padding: 1rem;
}

.sub-inputs,
.options {
	--gap: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--gap);
}

.sub-inputs > input,
.sub-inputs > select,
.sub-inputs > button {
	width: calc(50% - (var(--gap) / 2));
}

.form-container > form > button,
.sub-inputs > button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .75rem;
	
	border: 2px solid var(--color-gray);
	box-shadow: var(--default-shadow);

	font-size: 1.1rem;
}

.sub-inputs > button > svg {
	width: 1rem;
	height: 1rem;
}

.sub-inputs > button[data-selected="false"] > svg {
	opacity: 0;
}

.color-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;

	padding: 1rem;
	border: 2px solid var(--color-gray);
	border-radius: 4px;
	box-shadow: var(--default-shadow);
}

.color-list > button {
	height: 1.5rem;
	width: 1.5rem;

	padding: 1rem;
	border: 1px solid transparent;
	background-color: var(--color);
}

.color-list > button[data-selected='true'] {
	border-color: var(--color-white);
}

.notification-service-list {
	width: 100%;
	max-height: 10rem;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	
	border: 2px solid var(--color-gray);
	border-radius: 4px;

	box-shadow: var(--default-shadow);
}

.notification-service-list > div {
	display: flex;
	gap: 1rem;
	padding: .5rem .75rem;
}

.notification-service-list > div:not(:first-child) {
	border-top: 1px solid var(--color-gray);
}

.notification-service-list > div > input {
	width: fit-content;
	box-shadow: none;
}

.repeat-bar,
.repeat-edit-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow-x: auto;

	border: 2px solid var(--color-gray);
	border-radius: 4px;
	box-shadow: var(--default-shadow);
}

.repeat-bar > *,
.repeat-edit-bar > * {
	border: 0;
	box-shadow: none;
}

.repeat-bar > p,
.repeat-edit-bar > p {
	min-width: 7rem;

	padding: 1rem;
	padding-right: .25rem;
}

.repeat-bar > input[type="number"],
.repeat-edit-bar > input[type="number"] {
	min-width: 5rem;
	
	padding-left: .25rem;
}

.repeat-bar > select,
.repeat-edit-bar > select {
	min-width: 8rem;
}

div.options > button {
	width: 6rem;
	
	border: 2px solid var(--color-gray);
	padding: .5rem 1rem;
	
	font-size: 1.1rem;

	transition: background-color .1s ease-in-out;
}

.options > button:hover {
	background-color: var(--color-gray);
}

#delete-info {
	border-color: var(--color-error);
	color: var(--color-error);
}

#test-reminder,
#test-service {
	display: flex;
	gap: 1rem;
	
	overflow-x: hidden;
}

#test-reminder > div,
#test-service > div {
	width: 100%;
	flex: 0 0 auto;
	
	font-size: inherit;
	
	transition: transform .1s linear;
}

#test-reminder.show-sent > div,
#test-service.show-sent > div {
	transform: translateX(calc(-100% - 1rem));
}

@media (max-width: 460px) {
	.sub-inputs > input,
	.sub-inputs > select,
	.sub-inputs > button {
		width: 100%;
	}
}

/*  */
/* Adding */
/*  */
#info.show-add-reminder #delete-info {
	display: none;
}

#info.show-add-static-reminder #time-input,
#info.show-add-static-reminder #normal-button,
#info.show-add-static-reminder #repeat-button,
#info.show-add-static-reminder .repeat-bar,
#info.show-add-static-reminder #delete-info {
	display: none;
}

#info.show-add-static-reminder #text-input {
	margin-top: -1rem;
}

#info.show-add-static-reminder #template-selection,
#info.show-add-static-reminder #color-toggle,
#info.show-add-static-reminder #toggle-notification-service-list {
	width: 100%;
}

#info.show-add-template #template-selection,
#info.show-add-template #time-input,
#info.show-add-template #normal-button,
#info.show-add-template #repeat-button,
#info.show-add-template .repeat-bar,
#info.show-add-template #test-reminder,
#info.show-add-template #delete-info {
	display: none;
}

#info.show-add-template #text-input {
	margin-top: -1rem;
}

#info.show-add-template #color-toggle,
#info.show-add-template #toggle-notification-service-list {
	width: 100%;
}

/*  */
/* Editing */
/*  */
#info.show-edit-reminder #template-selection,
#info.show-edit-reminder #test-reminder {
	display: none;
}

#info.show-edit-reminder #color-toggle {
	width: 100%;
}

#info.show-edit-static-reminder #template-selection,
#info.show-edit-static-reminder #time-input,
#info.show-edit-static-reminder #normal-button,
#info.show-edit-static-reminder #repeat-button,
#info.show-edit-static-reminder .repeat-bar {
	display: none;
}

#info.show-edit-static-reminder #text-input {
	margin-top: -1rem;
}

#info.show-edit-static-reminder #color-toggle,
#info.show-edit-static-reminder #toggle-notification-service-list {
	width: 100%;
}

#info.show-edit-template #template-selection,
#info.show-edit-template #time-input,
#info.show-edit-template #normal-button,
#info.show-edit-template #repeat-button,
#info.show-edit-template .repeat-bar,
#info.show-edit-template #test-reminder {
	display: none;
}

#info.show-edit-template #text-input {
	margin-top: -1rem;
}

#info.show-edit-template #color-toggle,
#info.show-edit-template #toggle-notification-service-list {
	width: 100%;
}
