/* SEARCH BAR */
.search-container {
	max-width: 40rem;
	margin: auto;
	
	padding-block: clamp(1rem, 4vw, 2rem);
}

#search-form {
	margin-inline: 1rem;
}

.search-bar {
	display: flex;
	
	border: 2px solid var(--color-gray);
	border-radius: 4px;
	
	box-shadow: var(--default-shadow);
}

.search-bar button {
	width: 3.5rem;
	padding: .8rem;
}

.search-bar button svg {
	width: 1rem;
	height: 1rem;
}

.search-bar input {
	border: 0;
	padding-block: 1rem;
	box-shadow: none;
}

#clear-button {
	opacity: 0;
	
	transition: opacity .1s linear;
}

.search-bar:focus-within #clear-button {
	opacity: 1;
}

/* REMINDER LIST */
#reminder-list,
#template-list {
	--gap: 1rem;
	--entry-width: 13rem;
	max-width: 43rem;
	margin-inline: auto;
	
	display: flex;
	justify-content: left;
	gap: var(--gap);
	flex-wrap: wrap;
	
	padding: 1rem;
}

.entry.add-entry {
	justify-content: center;
	align-items: center;
	gap: .5rem;
}

.entry.add-entry svg {
	height: 2rem;
	width: 2rem;
}

.entry.add-entry:not(.error.error-icon) p {
	display: none;
}

.entry.add-entry.error.error-icon p {
	display: block;
	font-size: .8rem !important;
}

.entry {
	--color: var(--color-gray);
	width: var(--entry-width);
	height: 6rem;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: .1rem;
	
	border-radius: 4px;
	padding: .75rem;
	background-color: var(--color);
}

button.entry.fit {
	flex-grow: 1;
}

.entry.expand {
	width: calc(var(--entry-width) * 2 + var(--gap));
}

.entry h2 {
	overflow-y: hidden;
	height: 100%;
	
	text-align: left;
	font-size: 1.25em;
	line-height: 1.18;
	font-weight: 500;
}

#delete-template {
	border-color: var(--color-error);
	color: var(--color-error);
}

@media (max-width: 543px) {
	header > div {
		transform: translateX(0);
	}

	.entry {
		flex-grow: 1;
		width: 9rem;
	}
}
