#add-service-button {
	width: min(100%, 17rem);
	height: 2rem;
	margin-inline: auto;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 4px;
	background-color: var(--color-gray);
}

#add-service-button > svg {
	height: 1rem;
	width: 1rem;
	transition: transform .125s linear;
}

#notification:has(#service-list-toggle:checked) #add-service-button > svg {
	transform: rotate(45deg);
}

#notification .entries-table {
	margin-inline: auto;

	--inline-padding: .5rem;
}

#services-list .empty-row td {
	text-align: center;
}

#services-list:has(tr:not(.empty-row)) .empty-row {
	display: none;
}

.title-column {
	min-width: 9.5rem;
	width: 25%;
}

.url-column {
	width: 26rem;
	text-wrap-mode: nowrap;
}

.action-column {
	min-width: 4rem;
}

/*  */
/* Edit and delete windows */
/*  */
#edit-ns-form {
	width: 100%;
	height: 10rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	padding: 1rem;

	& > * {
		max-width: 24rem;

		&.checked-input-container > input {
			max-width: inherit;
		}
	}
}

#delete-ns-dialog p {
	padding-inline: 1rem;
	text-align: center;
}

#confirm-delete-ns {
	min-width: 6rem;
	width: unset;

	padding-inline: 1rem;
}

/*  */
/* Add service */
/*  */
#add-service-container {
	margin-top: 1rem;
	display: none;
	flex-direction: column;
	align-items: center;
}

#notification:has(#service-list-toggle:checked) {
	& table {
		display: none;
	}

	& #add-service-container {
		display: flex;
	}
}

#notification:has(#add-service-toggle:checked) {
	& #service-list,
	& #ns-search-input {
		display: none;
	}

	& #add-service-window {
		display: flex;
	}
}

#ns-search-input {
	margin-bottom: 1rem;

	max-width: 26rem;
	height: 2rem;

	padding: .25rem .5rem;
}

#service-list {
	width: min(100%, 48rem);
	margin-inline: auto;

	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}

#service-list p {
	width: 100%;
	text-align: center;
}

#service-list:not(:has(button)) > p,
#service-list:has(button:not(.hidden)) > p {
	display: none;
}

#service-list button {
	width: 12rem;
	max-width: 15rem;
	height: 6rem;
	flex-grow: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: .75rem;
	border-radius: 4px;
	border: 2px solid var(--color-gray);
	background-color: var(--color-dark);
	color: var(--color-light);

	text-align: center;
	font-size: 1.1rem;

	box-shadow: var(--default-shadow);
	transition: background-color 150ms ease-in-out;

	&:hover {
		background-color: var(--color-gray);
	}
}

/*  */
/* Add service form */
/*  */
#add-service-window {
	width: 100%;
	max-width: 30rem;
	margin: auto;

	display: none;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;

	text-align: center;
}

#add-service-window .input-style {
	max-width: 100%;

	&::placeholder {
		color: var(--color-mid-gray);
	}
}

#add-service-window > h3 {
	font-size: 1.75rem;
}

#add-service-window > p {
	height: 2.7rem;
	margin-bottom: calc((1rem + 2px) * -1);

	display: flex;
	align-items: center;

	border: 2px solid var(--color-gray);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-inline: .5rem;
	color: var(--color-mid-gray);

	box-shadow: var(--default-shadow);
}

#add-service-window > a {
	color: var(--color-light);
}

#add-service-window > div[data-map] {
	display: flex;
	flex-direction: column;
	gap: .6rem;

	padding: .5rem;
	border: 2px solid var(--color-gray);
	border-radius: 4px;
	box-shadow: var(--default-shadow);

	& > p {
		color: var(--color-mid-gray);
		font-size: 1.1rem;
	}
}

.entries-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .6rem;

	background-color: var(--color-dark);
	color: var(--color-light);
	border: 2px solid var(--color-gray);
	border-radius: 4px;
	padding: .5rem;
	box-shadow: var(--default-shadow);

	font-size: 1rem;
}

.entries-list > p:first-child {
	color: var(--color-mid-gray);
	font-size: 1.1rem;
}

.input-entries {
	width: 100%;
	max-height: 12rem;
	width: 100%;

	overflow-y: auto;
}

.input-entries:not(:has(div)) {
	display: none;
}

.add-row {
	width: 100%;

	display: flex;
	justify-content: center;
	gap: 1rem;
}

.add-row input {
	height: 2rem;
	font-size: .8rem;
}

.add-row button {
	width: 6rem;
	height: 2rem;

	padding: 0rem;
}

.entries-list > button {
	height: 1.9rem;

	& > svg {
		height: 1rem;

		transition: transform 125ms linear;
	}
}

.entries-list:has(.add-row:not(.hidden)) > button > svg {
	transform: rotate(45deg);
}
