.table-container {
	margin-top: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

#add-service-button {
	width: min(100%, 17rem);
	height: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 4px;
	background-color: var(--color-gray);
}

#add-service-button > svg {
	height: 1rem;
	width: 1rem;
	transition: transform .125s linear;
}

.table-container:has(#service-list-toggle:checked) #add-service-button > svg {
	transform: rotate(45deg);
}

.overflow-container {
	margin-inline: auto;
	width: min(100%, 50rem);

	overflow-x: auto;
}

.overflow-container > table {
	border-spacing: 0px;
}

.overflow-container > table:not(:has(tbody > tr)) {
	display: none;
}

.overflow-container > table th,
.overflow-container > table td {
	text-align: left;
}

.overflow-container > table th {
	padding: .5rem;
}

.overflow-container td {
	border-top: 1px solid var(--color-gray);
	padding: .25rem;
}

.title-column {
	min-width: 9.5rem;
	width: 25%;

	padding-left: 1.5rem;
	padding-right: 1rem;
}

.url-column {
	min-width: 26rem;
	width: 65%;
}

.overflow-container table input {
	width: 100%;
	border-radius: 4px;
	padding: .25rem;
	box-shadow: none;
}

.overflow-container input:read-only {
	border-color: transparent;
}

.overflow-container .action-column {
	min-width: 4rem;
	width: 20%;
	
	display: flex;
	gap: .5rem;
	
	padding: calc(.5rem + 2px);
	padding-right: 1.5rem;
}

.action-column > button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.overflow-container .action-column svg {
	width: 1.25rem;
	height: 1.25rem;
}

tr:has(input:not(:read-only)) button[data-type="save"],
tr:has(input:read-only) button[data-type="edit"] {
	display: flex;
}

tr:has(input:not(:read-only)) button[data-type="edit"],
tr:has(input:read-only) button[data-type="save"] {
	display: none;
}

/*  */
/* Add service */
/*  */
#add-service-container {
	display: none;
}

.overflow-container:has(#service-list-toggle:checked) table {
	display: none;
}

.overflow-container:has(#service-list-toggle:checked) #add-service-container {
	display: block;
}

.overflow-container:has(#add-service-toggle:checked) #service-list {
	display: none;
}

.overflow-container:has(#add-service-toggle:checked) #add-service-window {
	display: flex;
}

#service-list {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}

#service-list button {
	width: max(30%, 10rem);
	height: 6rem;
	
	display: flex;
	justify-content: center;
	align-items: center;

	padding: .75rem;
	border-radius: 4px;
	border: 2px solid var(--color-gray);
	
	text-align: center;
	font-size: 1.1rem;
}

/*  */
/* Add service form */
/*  */
#add-service-window {
	max-width: 30rem;
	margin: auto;

	display: none;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	
	text-align: center;
}

#add-service-window > h3 {
	font-size: 1.75rem;
}

#add-service-window > p {
	margin-bottom: calc((1rem + 2px) * -1);
	
	border: 2px solid var(--color-gray);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: .75rem 1rem;
	color: var(--color-gray);

	text-align: left;
	
	box-shadow: var(--default-shadow);
}

#add-service-window > button {
	border-radius: 4px;
	border: 2px solid var(--color-gray);
	padding: .75rem;
}

#add-service-window > a,
#add-service-window > p > a {
	color: var(--color-light);
}

#add-service-window > div[data-map],
#add-service-window > div[data-map] > .entries-list {
	display: flex;
	flex-direction: column;
	gap: inherit;
}

#add-service-window > div[data-map] {
	padding: .5rem;
	border: 2px solid var(--color-gray);
	border-radius: 4px;
	box-shadow: var(--default-shadow);
}

#add-service-window > div[data-map] > p {
	color: var(--color-gray);
	font-size: 1.1rem;
}

.entries-list {
	min-height: 5rem;
	max-height: 15rem;
	overflow-y: auto;

	align-items: center;

	background-color: var(--color-dark);
	color: var(--color-light);
	border: 2px solid var(--color-gray);
	border-radius: 4px;
	padding: .75rem;
	box-shadow: var(--default-shadow);

	font-size: 1rem;
}

.entries-list > p:first-child {
	color: var(--color-gray);
	font-size: 1.1rem;
}

.input-entries:not(:has(div)) {
	display: none;
}

.add-row {
	width: min(100%, 21rem);

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.add-row input {
	flex-grow: 1;
	height: 2rem;
	min-width: 0rem;
	font-size: .8rem;
}

.add-row button {
	height: 2rem;
	padding: .35rem .75rem;
	background-color: var(--color-gray);
	border-radius: 4px;
}

.entries-list > button {
	height: 1.5rem;
	width: min(100%, 21rem);
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: var(--color-gray);
}

.entries-list > button svg {
	height: 60%;
}

.entries-list > button path {
	height: inherit;
	fill: var(--color-dark);
}

@media (max-width: 543px) {
	#service-list button {
		flex-grow: 1;
	}
}
