/*  */
/* Tab selector */
/*  */
#tab-selector {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;

	padding: 1rem;
}

#tab-selector > button {
	min-width: 9.55rem;

	padding: .5rem 1rem;
	border-radius: 4px;
	border: 2px solid var(--color-light-border);
	background-color: var(--color-dark);
	color: var(--color-light);

	text-align: center;

	transition:
		background-color 150ms ease-in-out,
		box-shadow 150ms ease-in-out;

	&[data-selected] {
		background-color: var(--color-gray);
	}

    &:hover {
        background-color: var(--color-light-gray);
        box-shadow: var(--default-shadow);
    }
}

/*  */
/* Search bar */
/*  */
#search-form {
    --button-width: clamp(2.4rem, 7.5vw, 3rem);
	max-width: 40rem;
	margin-inline: auto;
    
    display: flex;
	
    border: 2px solid var(--color-light-border);
    border-radius: 4px;
    margin-bottom: clamp(1rem, 4vw, 2rem);

    box-shadow: var(--default-shadow);
}    

#search-form button {
	width: var(--button-width);
	flex-shrink: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 4px;
	background-color: transparent;

	& svg {
		height: 1rem;
		width: auto;
	}
}

#search-form :where(button, select) {
	transition: background-color 100ms ease-in-out;

	&:hover {
		background-color: var(--color-gray);
	}
}

#search-form > :first-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#search-form > :last-child {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.search-input-container {
	flex-grow: 1;
	width: 100%;
	position: relative;
}

.search-input-container::before {
	content: "/" / "";
	position: absolute;
	z-index: -1;
	inset: .5rem auto .5rem 100%;
	height: 1.7rem;
	width: 1.7rem;
	margin-inline: calc((var(--button-width) - 1.7rem) / 2);

	opacity: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 4px;
	border: 2px solid var(--color-gray);
	background-color: transparent;
	color: var(--color-mid-gray);

	font-size: .7rem;

	transition: opacity .1s linear;
}

#search-form:not(:focus-within) .search-input-container::before {
	opacity: 1;
}

.search-input-container::after {
	content: "";
	position: absolute;
	inset: 0 .5rem 0 auto;

	width: .7rem;
	background: linear-gradient(270deg, var(--color-dark), transparent);
}

#search-input {
	width: 100%;
	max-width: unset;
	position: relative;

	border: 0;

	box-shadow: none;
}

#clear-button {
	opacity: 0;

	transition: opacity .1s linear;
}

#search-form:focus-within #clear-button {
	opacity: 1;
}

#sort-input,
#sort-input::picker(select) {
	appearance: base-select;
}

#sort-input {
	border: 0;
	border-radius: 4px;
	background-color: var(--color-dark);
	color: var(--color-light);

	&:not(:has(button)) {
		width: clamp(6rem, 25vw, 12rem);
		padding: .5rem;
	}

	&:hover {
		cursor: pointer;
	}
}

#sort-input::picker-icon {
	display: none;
}

#sort-input::picker(select) {
	width: 12.5rem;

	border-radius: 6px;
	border: 3px solid var(--color-gray);
	background-color: var(--color-dark);
	color: var(--color-light);

	box-shadow: 0 0 6px 4px rgb(0 0 0 / 60%);
}

#sort-input option {
	padding: .5rem;

	transition: background-color 150ms ease-in-out;

	&:hover {
		background-color: var(--color-mid-gray);
	}

	&:checked {
		background-color: var(--color-light-gray);
	}

	&::checkmark {
		display: none;
	}
}

main:has(
	:where(#static-tab-selector, #template-tab-selector)[data-selected]
) #sort-input > option:where(
	[value="time"], [value="time_reversed"]
) {
	display: none;
}

/*  */
/* Tabs */
/*  */
#tab-container > div {
	max-width: 60rem;
	margin-inline: auto;

	display: none;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-auto-rows: minmax(6.6rem, auto);
	gap: 1rem;

	padding: 1rem;
}

main:has(#reminder-tab-selector[data-selected]) #reminder-tab,
main:has(#static-tab-selector[data-selected]) #static-reminder-tab,
main:has(#template-tab-selector[data-selected]) #template-tab {
    display: grid;
}

body:has(#wide-toggle[data-selected]) #tab-container > div {
	max-width: unset;
}

/*  */
/* Library Entries */
/*  */
.entry {
	--color: var(--color-gray);
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border-radius: 4px;
	border: 1px solid var(--color-light-border);
	color: var(--color-light);
	background-color: var(--color);

	box-shadow: 0 0 10px 2px rgb(0 0 0 / 60%);
	transition: border-color 100ms ease-in-out;
}

.entry.expand {
	grid-column: span 2;
}

.entry:hover {
	border-color: var(--color-light-gray);
}

.entry h2 {
	overflow-y: hidden;
	height: 100%;
	margin: .75rem;

	text-align: left;
	font-size: 1.2rem;
	line-height: 1.18;
	font-weight: 500;
}

.entry p {
	padding: .4rem .5rem;
	border-radius: inherit;
	border-top: 1px solid var(--color-light-border);
	backdrop-filter: brightness(0.9);
	
	font-size: .9rem;
}

.entry.add-entry {
	& svg {
		margin: auto;
		height: 2rem;
		width: 2rem;
	}
	
	&.error svg {
		fill: var(--color-error);
	}
	
	&:not(.error) p {
		display: none;
	}
}

@media (max-width: 34rem) {
	#tab-selector > button {
		flex: 1 0 48%;

		&:first-of-type {
			flex: 1 0 100%;
		}
	}
	
	#search-form:not(:focus-within) .search-input-container::before {
		opacity: 0;
	}

	#search-form #wide-toggle {
		display: none;
	}
	
	.entry.expand {
		grid-column: unset;
	}
}
