#settings-table {
	margin-inline: auto;
	width: min(100%, 50rem);
}

#settings-table td {
	padding: .5rem;
	width: 50%;
}

#settings-table tr > td:first-child {
	text-align: right;
	font-weight: 500;
}

#settings-table button {
	padding: .5rem 2rem;
	background-color: var(--color-gray);
	
	box-shadow: var(--default-shadow);
}

#settings-table tr:has(#default-service-input) {
	display: none;
}

#settings-table tr:has(#default-service-input option) {
	display: table-row;
}

#change-password-form {
	display: flex;
	gap: 1rem;
}

#settings-table #delete-account-button {
	background-color: var(--color-error);
}

.contact-list {
	width: min(100%, 31rem);
	margin: auto;
	
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.contact-list > a {
	height: 5rem;
	width: 15rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: 6px;
	background-color: var(--color-gray);
	color: var(--color-light);

	text-decoration: none;
	font-size: 1.2rem;
}
