<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_prefix" data-value="{{url_prefix}}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/x-icon">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

	<script src="{{ url_for('static', filename='js/general.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/admin.js') }}" defer></script>

	<title>Admin - MIND</title>
</head>
<body>
	<header>
		<div>
			<img src="{{ url_for('static', filename='img/favicon.svg') }}" alt="">
		</div>
	</header>
	<main>
		<h1>Test</h1>
	</main>
</body>
</html>