<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_prefix" data-value="{{url_prefix}}">

	<link rel="manifest" href="{{url_prefix}}/manifest.json">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
	<meta name="apple-mobile-web-app-status-bar" content="#6b6b6b">
	<meta name="theme-color" content="#6b6b6b">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/x-icon">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
	<script src="{{ url_for('static', filename='js/admin.js') }}" defer></script>

	<title>Admin - MIND</title>
</head>
<body>
	{% include "icons.html" %}
	<header>
		<div>
			<img src="{{ url_for('static', filename='img/favicon.svg') }}" alt="">
			<h1>MIND</h1>
		</div>
	</header>
	<main>
		<dialog id="reset-settings-dialog">
			<div class="dialog-container">
				<div class="dialog-header">
					<h2>Reset Settings</h2>
				</div>
				<div class="dialog-content">
					<form id="reset-settings-form">
						<div class="table-container">
							<table id="reset-table" class="entries-table">
								<tbody id="reset-list"></tbody>
							</table>
						</div>
					</form>
				</div>
				<div class="dialog-footer">
					<button id="close-reset-settings" class="input-style">Cancel</button>
					<button type="submit" id="submit-reset-settings" form="reset-settings-form" class="input-style">Reset</button>
				</div>
			</div>
		</dialog>
		<dialog id="plugins-dialog">
			<div class="dialog-container">
				<div class="dialog-header">
					<h2>Apprise Plugin Paths</h2>
				</div>
				<div class="dialog-content">
					<form id="add-plugin-form"></form>
					<button id="add-plugin" class="input-style">
						<svg><use href="#icon-plus"></use></svg>
					</button>
					<p id="plugin-not-found" class="error hidden">*Path not found</p>
					<div class="table-container">
						<table id="plugins-table" class="entries-table">
							<thead>
								<tr>
									<th>Path</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr id="no-plugins-row">
									<td colspan="2">No Plugins</td>
								</tr>
								<tr id="add-plugin-row" class="hidden">
									<td>
										<input type="text" id="plugin-path" form="add-plugin-form" required placeholder="Plugin Path">
									</td>
									<td>
										<button type="submit" form="add-plugin-form">
											<svg><use href="#icon-save"></use></svg>
										</button>
									</td>
								</tr>
							</tbody>
							<tbody id="plugins-list"></tbody>
						</table>
					</div>
				</div>
				<div class="dialog-footer">
					<button id="close-plugins" class="input-style">Close</button>
				</div>
			</div>
		</dialog>
		<dialog id="add-user-dialog">
			<div class="dialog-container">
				<div class="dialog-header">
					<h2>Add User</h2>
				</div>
				<div class="dialog-content">
					<form id="add-user-form">
						<label for="add-user-username">Username</label>
						<div class="checked-input-container">
							<input type="text" id="add-user-username" autocomplete="username" placeholder="Username" class="input-style" required>
							<p id="add-invalid-username">Username invalid</p>
							<p id="add-taken-username">Username already taken</p>
						</div>

						<label for="add-user-password">Password</label>
						<input type="password" id="add-user-password" autocomplete="new-password" placeholder="Password" class="input-style" required>
					</form>
				</div>
				<div class="dialog-footer">
					<button id="close-add-user" class="input-style">Cancel</button>
					<button type="submit" id="submit-add-user" form="add-user-form" class="input-style">Add</button>
				</div>
			</div>
		</dialog>
		<dialog id="edit-user-dialog">
			<div class="dialog-container">
				<div class="dialog-header">
					<h2>Edit User</h2>
				</div>
				<div class="dialog-content">
					<div>
						<p>Leave fields empty to not change for <span id="edit-target-username"></span></p>
						<form id="edit-user-form">
							<label for="edit-user-username">Username</label>
							<div class="checked-input-container">
								<input type="text" id="edit-user-username" autocomplete="username" placeholder="New username" class="input-style">
								<p id="edit-invalid-username">Username invalid</p>
								<p id="edit-taken-username">Username already taken</p>
							</div>
							<label for="edit-user-password">Password</label>
							<input type="password" id="edit-user-password" autocomplete="new-password" placeholder="New password" class="input-style">
						</form>
					</div>
				</div>
				<div class="dialog-footer">
					<button id="close-edit-user" class="input-style">Cancel</button>
					<button type="submit" id="submit-edit-user" form="edit-user-form" class="input-style">Save</button>
				</div>
			</div>
		</dialog>
		<dialog id="delete-user-dialog">
			<div class="dialog-container">
				<div class="dialog-content">
					<div>
						<p>Are you sure you want to delete the user <span id="delete-target-username"></span>?</p>
						<div class="confirm-container">
							<button id="confirm-delete-user" class="input-style">Confirm</button>
							<button id="close-delete-user" class="input-style">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</dialog>
		<dialog id="upload-db-dialog">
			<div class="dialog-container">
				<div class="dialog-header">
					<h2>Upload Database</h2>
				</div>
				<div class="dialog-content">
					<div>
						<p>You will be uploading a database file. Login into MIND within one minute to keep the new database, or the upload will automatically be reverted.</p>
						<form id="upload-db-form">
							<div class="table-container">
								<table class="collapse-table">
									<tbody>
										<tr>
											<td><label for="database-file">Database File</label></td>
											<td>
												<div class="checked-input-container">
													<input type="file" id="database-file" class="input-style" required>
													<p>Invalid database file</p>
												</div>
											</td>
										</tr>
										<tr>
											<td><label for="copy-hosting-upload">Keep Hosting Settings</label></td>
											<td>
												<input type="checkbox" id="copy-hosting-upload">
												<p>Keep the current hosting settings instead of using the settings in the uploaded database when importing.</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
				<div class="dialog-footer">
					<button id="close-upload-db" class="input-style">Cancel</button>
					<button type="submit" id="submit-upload-db" form="upload-db-form" class="input-style">Import</button>
				</div>
			</div>
		</dialog>
		<dialog id="import-db-dialog">
			<div class="dialog-container">
				<div class="dialog-header">
					<h2>Import Database</h2>
				</div>
				<div class="dialog-content">
					<div>
						<p>You will be importing database backup <span id="db-backup-name"></span>, created on <span id="db-creation-date"></span>.
							Login into MIND within one minute to keep the new database, or the import will automatically be reverted.</p>
						<form id="import-db-form">
							<div class="table-container">
								<table class="collapse-table">
									<tbody>
										<tr>
											<td><label for="copy-hosting-import">Keep Hosting Settings</label></td>
											<td>
												<input type="checkbox" id="copy-hosting-import">
												<p>Keep the current hosting settings instead of using the settings in the selected database backup when importing.</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
				</div>
				<div class="dialog-footer">
					<button id="close-import-db" class="input-style">Cancel</button>
					<button type="submit" id="submit-import-db" form="import-db-form" class="input-style">Import</button>
				</div>
			</div>
		</dialog>

		<form id="settings-form"></form>

		<section id="action-buttons" aria-label="Actions">
			<button id="save-settings" aria-label="Save settings" title="Save Settings" type="submit" form="settings-form">
				<span id="changes-count">0 changes</span>
				<svg><use href="#icon-save"></use></svg>
			</button>
			<button id="logout" aria-label="Log out of MIND" title="Log out of MIND">
				<svg><use href="#icon-logout"></use></svg>
				<span>Log out</span>
			</button>
		</section>

		<div id="grid-container">
			<section id="about-section">
				<h2>About</h2>
				<div class="table-container">
					<table class="collapse-table">
						<tbody>
							<tr>
								<th>MIND Version</th>
								<td id="mind-version"></td>
							</tr>
							<tr>
								<th>Python Version</th>
								<td id="python-version"></td>
							</tr>
							<tr>
								<th>Database Version</th>
								<td id="db-version"></td>
							</tr>
							<tr>
								<th>Database Location</th>
								<td id="db-location"></td>
							</tr>
							<tr>
								<th>Data Folder</th>
								<td id="data-folder"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section id="power-section">
				<h2>Power</h2>
				<div>
					<button id="restart-button" class="input-style">Restart</button>
					<button id="shutdown-button" class="input-style">Shutdown</button>
				</div>
			</section>
			<section id="auth-section">
				<h2>Authentication</h2>
				<div class="table-container">
					<table class="collapse-table">
						<tbody>
							<tr>
								<th><label for="allow-new-accounts">Allow New Accounts</label></th>
								<td>
									<input type="checkbox" id="allow-new-accounts" name="allow_new_accounts" form="settings-form">
									<p>Allow users to register a new account. The admin can always add a new account from this panel.</p>
								</td>
							</tr>
							<tr>
								<th><label for="login-time">Login Time</label></th>
								<td>
									<div class="input-style">
										<input type="number" id="login-time" name="login_time" form="settings-form" min="1" max="43200" required>
										<p>Min</p>
									</div>
									<p>For how long users stay logged in before having to authenticate again. Between 1 minute and 1 month.</p>
									<p>New values are applied for newly authenticated users.</p>
								</td>
							</tr>
							<tr>
								<th><label for="login-time-reset">Login Time Trigger</label></th>
								<td>
									<select id="login-time-reset" name="login_time_reset" class="input-style" form="settings-form" required>
										<option value="true">After Last Use</option>
										<option value="false">After Login</option>
									</select>
									<p>For when the login timer should start: starting from the last time MIND was used or from when the user has authenticated.</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section id="hosting-section">
				<h2>Hosting</h2>
				<div class="table-container">
					<table class="collapse-table">
						<tbody>
							<tr>
								<th><label for="host">Host</label></th>
								<td>
									<input type="text" id="host" name="host" class="input-style" form="settings-form" spellcheck="false" required>
									<p>Valid IPv4 address ('0.0.0.0' for all available interfaces).</p>
								</td>
							</tr>
							<tr>
								<th><label for="port">Port</label></th>
								<td>
									<input type="number" id="port" name="port" class="input-style" form="settings-form" min="1" max="65535" required>
									<p>The port used to access the web UI.</p>
								</td>
							</tr>
							<tr>
								<th><label for="url-prefix">URL Prefix</label></th>
								<td>
									<input type="text" id="url-prefix" name="url_prefix" class="input-style" form="settings-form" spellcheck="false">
									<p>For reverse proxy support (set empty to disable).</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section id="logging-section">
				<h2>Logging, Resetting and Plugins</h2>
				<div class="table-container">
					<table class="collapse-table">
						<tbody>
							<tr>
								<th><label for="log-level">Logging Level</label></th>
								<td>
									<select id="log-level" name="log_level" class="input-style" form="settings-form" required>
										<option value="20">Info</option>
										<option value="10">Debug</option>
									</select>
								</td>
							</tr>
							<tr>
								<th><label for="download-logs">Download Logs</label></th>
								<td>
									<button id="download-logs" class="input-style">Download Debug Logs</button>
								</td>
							</tr>
							<tr>
								<th><label for="open-reset-settings">Reset Setting</label></th>
								<td>
									<button id="open-reset-settings" class="input-style">Reset Setting</button>
									<p>Opens a window to select settings for which to reset their value.</p>
								</td>
							</tr>
							<tr>
								<th><label for="open-plugins">Apprise Plugins</label></th>
								<td>
									<button id="open-plugins" class="input-style">Manage Paths</button>
									<p>Opens a window to manage the paths to plugins that Apprise should load.</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section id="backup-settings-section">
				<h2>Database Backup Settings</h2>
				<div class="table-container">
					<table class="collapse-table">
						<tbody>
							<tr>
								<th><label for="db-backup-interval">Database Backup Interval</label></th>
								<td>
									<div class="input-style">
										<input type="number" id="db-backup-interval" name="db_backup_interval" form="settings-form" min="1" required>
										<p>Hours</p>
									</div>
									<p>How often to make a backup of the database.</p>
								</td>
							</tr>
							<tr>
								<th><label for="db-backup-amount">Database Backup Retention</label></th>
								<td>
									<div class="input-style">
										<input type="number" id="db-backup-amount" name="db_backup_amount" form="settings-form" min="1" required>
										<p>Backups</p>
									</div>
									<p>How many backups to keep. The oldest one will be removed if needed.</p>
								</td>
							</tr>
							<tr>
								<th><label for="db-backup-folder">Database Backup Folder</label></th>
								<td>
									<div class="checked-input-container">
										<input type="text" id="db-backup-folder" name="db_backup_folder" class="input-style long-input-style" form="settings-form" spellcheck="false" required>
										<p>Path doesn't exist or isn't a folder</p>
									</div>
									<p>The folder to store the backups in.</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section id="user-section">
				<h2>User Management</h2>
				<div class="add-item-container">
					<button id="open-add-user" class="input-style">
						<svg><use href="#icon-plus"></use></svg>
					</button>
				</div>
				<div class="table-container">
					<table id="user-table" class="entries-table">
						<thead>
							<tr>
								<th>User</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody id="user-list">
						</tbody>
					</table>
				</div>
			</section>
			<section id="backup-management-section">
				<h2>Database Backup Management</h2>
				<div class="add-item-container">
					<button id="open-upload-db" class="input-style">Upload Database</button>
				</div>
				<div class="table-container">
					<table id="backup-table" class="entries-table">
						<thead>
							<th>File</th>
							<th>Creation</th>
							<th>Actions</th>
						</thead>
						<tbody>
							<tr>
								<td>Current Database</td>
								<td></td>
								<td>
									<button id="download-db" title="Download current database">
										<svg><use href="#icon-download"></use></svg>
									</button>
								</td>
							</tr>
						</tbody>
						<tbody id="backup-list"></tbody>
					</table>
				</div>
			</section>
		</div>
	</main>
</body>
</html>