<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_prefix" data-value="{{url_prefix}}">

	<link rel="manifest" href="{{url_prefix}}/manifest.json">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
	<meta name="apple-mobile-web-app-status-bar" content="#6b6b6b">
	<meta name="theme-color" content="#6b6b6b">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/x-icon">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	<script src="{{ url_for('static', filename='js/general.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/login.js') }}" defer></script>

	<title>Login - MIND</title>
</head>
<body>
	<header>
		<img src="{{ url_for('static', filename='img/favicon.svg') }}" alt="">
	</header>
	<main>
		<input type="checkbox" id="form-switch" class="hidden">

		<noscript>Javascript is disabled. The web-ui of MIND does not work with JavaScript disabled.</noscript>
		<div class="login-container">
			<form id="login-form" aria-label="Login form">
				<h2>Login</h2>

				<div class="checked-input-container">
					<input type="text" id="login-username-input" autocomplete="username" placeholder="Username" class="input-style" required autofocus>
					<p>Username not found</p>
				</div>

				<div class="checked-input-container">
					<input type="password" id="login-password-input" autocomplete="current-password" placeholder="Password" class="input-style" required>
					<p>Password incorrect</p>
				</div>

				<label for="form-switch" class="switch-button" aria-hidden="true">Or create an account</label>
				<button type="submit">Login</button>
			</form>
			<form id="register-form" aria-label="Account registration form">
				<h2>Register</h2>

				<div class="checked-input-container">
					<input type="text" id="register-username-input" autocomplete="username" placeholder="Username" class="input-style" required>
					<p id="invalid-username-error">Username invalid</p>
					<p id="taken-username-error">Username already taken</p>
				</div>

				<input type="password" id="register-password-input" autocomplete="new-password" placeholder="Password" class="input-style" required>

				<label for="form-switch" class="switch-button" aria-hidden="true">Or log into an account</label>
				<button type="submit">Register</button>
			</form>
			<div id="form-cover">
				<img src="{{ url_for('static', filename='img/favicon.svg') }}" alt="">
			</div>
		</div>
	</main>
</body>
</html>
