<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_prefix" data-value="{{url_prefix}}">

	<link rel="manifest" href="{{ url_for('static', filename='json/manifest.json') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
	<meta name="apple-mobile-web-app-status-bar" content="#6b6b6b">
	<meta name="theme-color" content="#6b6b6b">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/x-icon">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	<script src="{{ url_for('static', filename='js/login.js') }}" defer></script>

	<title>Login - MIND</title>
</head>
<body>
	<header>
		<img src="{{ url_for('static', filename='img/favicon.svg') }}" alt="">
	</header>
	<main>
		<input type="checkbox" id="form-switch" class="hidden">

		<div class="form-container">
			<form id="login-form">
				<h2>Login</h2>

				<noscript>Javascript is disabled. The web-ui of MIND does not work with JavaScript disabled.</noscript>

				<div id="username-error-container">
					<input type="text" autocomplete="username" placeholder="Username" required autofocus>
					<p class="hidden">*Username not found</p>
				</div>

				<div id="password-error-container">
					<input type="password" autocomplete="current-password" placeholder="Password" required>
					<p class="hidden">*Password incorrect</p>
				</div>

				<label for="form-switch" class="switch-button">Or create an account</label>
				<button type="submit">Login</button>
			</form>
		</div>
		<div class="form-container">
			<form id="create-form">
				<h2>Create</h2>

				<input type="text" autocomplete="username" placeholder="Username" required>
				<p class="error hidden" id="new-username-error">*Username invalid</p>
				<p class="error hidden" id="taken-username-error">*Username already taken</p>

				<input type="password" autocomplete="new-password" placeholder="Password" required>

				<label for="form-switch" class="switch-button">Or log into an account</label>
				<button type="submit">Create</button>
			</form>
		</div>
	</main>
</body>
</html>