<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta id="url_prefix" data-value="{{url_prefix}}">

	<link rel="manifest" href="{{url_prefix}}/manifest.json">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
	<meta name="apple-mobile-web-app-status-bar" content="#6b6b6b">
	<meta name="theme-color" content="#6b6b6b">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/x-icon">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reminders.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/library.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
	<script src="{{ url_for('static', filename='js/general.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/reminders.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/library.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/window.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/templates.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/show.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/notification.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/settings.js') }}" defer></script>

	<title>Reminders - MIND</title>
</head>
<body>
	<input type="checkbox" id="wide-toggle" class="hidden">

	<div class="nav-divider">
		<div class="nav-container">
			<nav>
			</nav>
		</div>
		<main class="window-container">
			<div id="home" aria-label="Home screen" aria-hidden="false">
			</div>

			<div class="extra-window-container">
				<div id="info" aria-label="Add or edit a reminder, static reminder or template" aria-hidden="true">
					<h2></h2>
					<div class="form-container">
						<form id="info-form">
							<input type="checkbox" id="color-toggle" class="hidden">
							<input type="checkbox" id="notification-service-selection-toggle" class="hidden">
							<div class="sub-inputs">
								<select id="template-selection">
									<option value="0" selected>No template</option>
								</select>
								<div id="enabled-container" class="as-button">
									<input type="checkbox" id="enabled-input" checked>
									<label for="enabled-input">Enabled</label>
								</div>
								<label for="color-toggle" id="color-button" class="as-button">Color</label>
							</div>
							<div class="color-list"></div>
							<input type="text" id="title-input" placeholder="Title" required>
							<div class="sub-inputs">
								<input type="datetime-local" id="time-input" required>
								<label for="notification-service-selection-toggle" id="notification-service-selection-button">Notification Services</label>
							</div>
							<div class="notification-service-selection"></div>
							<div class="repeat-options sub-inputs">
								<button type="button" id="normal-button" data-selected="true">
									<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="256" height="256" x="0" y="0" viewBox="0 0 507.506 507.506" style="enable-background:new 0 0 512 512" xml:space="preserve">
										<g>
											<path d="M163.865 436.934a54.228 54.228 0 0 1-38.4-15.915L9.369 304.966c-12.492-12.496-12.492-32.752 0-45.248 12.496-12.492 32.752-12.492 45.248 0l109.248 109.248L452.889 79.942c12.496-12.492 32.752-12.492 45.248 0 12.492 12.496 12.492 32.752 0 45.248L202.265 421.019a54.228 54.228 0 0 1-38.4 15.915z"></path>
										</g>
									</svg>
									Normal
								</button>
								<button type="button" id="repeat-button" data-selected="false">
									<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="256" height="256" x="0" y="0" viewBox="0 0 507.506 507.506" style="enable-background:new 0 0 512 512" xml:space="preserve">
										<g>
											<path d="M163.865 436.934a54.228 54.228 0 0 1-38.4-15.915L9.369 304.966c-12.492-12.496-12.492-32.752 0-45.248 12.496-12.492 32.752-12.492 45.248 0l109.248 109.248L452.889 79.942c12.496-12.492 32.752-12.492 45.248 0 12.492 12.496 12.492 32.752 0 45.248L202.265 421.019a54.228 54.228 0 0 1-38.4 15.915z"></path>
										</g>
									</svg>
									Repeated
								</button>
								<button type="button" id="weekday-button" data-selected="false">
									<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="256" height="256" x="0" y="0" viewBox="0 0 507.506 507.506" style="enable-background:new 0 0 512 512" xml:space="preserve">
										<g>
											<path d="M163.865 436.934a54.228 54.228 0 0 1-38.4-15.915L9.369 304.966c-12.492-12.496-12.492-32.752 0-45.248 12.496-12.492 32.752-12.492 45.248 0l109.248 109.248L452.889 79.942c12.496-12.492 32.752-12.492 45.248 0 12.492 12.496 12.492 32.752 0 45.248L202.265 421.019a54.228 54.228 0 0 1-38.4 15.915z"></path>
										</g>
									</svg>
									Week Days
								</button>
							</div>
							<div class="repeat-bar hidden">
								<p>Repeat every </p>
								<input type="number" id="repeat-interval" placeholder="interval" min="1" step="1" oninput="validity.valid || (value='');">
								<select id="repeat-quantity">
									<option value="minutes">Minute(s)</option>
									<option value="hours">Hour(s)</option>
									<option value="days" selected>Day(s)</option>
									<option value="weeks">Week(s)</option>
									<option value="months">Month(s)</option>
									<option value="years">Year(s)</option>
								</select>
							</div>
							<div class="weekday-bar hidden">
								<p>Mo</p>
								<input type="checkbox">
								<p>Tu</p>
								<input type="checkbox">
								<p>We</p>
								<input type="checkbox">
								<p>Thu</p>
								<input type="checkbox">
								<p>Fr</p>
								<input type="checkbox">
								<p>Sa</p>
								<input type="checkbox">
								<p>Su</p>
								<input type="checkbox">
							</div>
							<textarea id="text-input" cols="30" rows="10" placeholder="Text (optional)"></textarea>
							<div class="options">
								<button type="button" id="close-info">Cancel</button>
								<button type="button" id="test-reminder">
									<div>Test</div>
									<div>Sent</div>
								</button>
								<button type="button" id="delete-info">Delete</button>
								<button type="submit">Add</button>
							</div>
						</form>
					</div>
				</div>


				<div id="notification" aria-label="Notification Service Window" aria-hidden="true">
				</div>


				<div id="settings" aria-label="Settings Window" aria-hidden="true">
				</div>
			</div>
		</main>
	</div>
</body>
</html>