<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/page_not_found.css">

	<title>Page Not Found - MIND</title>
</head>
<body>
	<header>
		<h1>MIND Reminders</h1>
	</header>
	<main>
		<h2>MIND</h1>
		<p>404 - Page not found :(</p>
		<a href="/">Go to home page</a>
	</main>
</body>
</html>