{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}
{% block js %}
    <script defer src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
{% block windows %}
	<dialog id="delete-account-dialog">
		<div class="dialog-container">
			<div class="dialog-content">
				<p>Are you sure you want to permanently delete your account?</p>
				<div class="confirm-container">
					<button id="confirm-delete-account" class="input-style">Confirm</button>
					<button id="close-delete-account" class="input-style">Cancel</button>
				</div>
			</div>
		</div>
	</dialog>

	<dialog id="edit-account-dialog">
		<div class="dialog-container">
			<div class="dialog-header">
				<h2>Edit Account</h2>
			</div>
			<div class="dialog-content">
				<p>Leave fields empty to not change their value</p>
				<form id="edit-account-form">
                    <label for="edit-username">Username</label>
					<div class="checked-input-container">
						<input type="text" id="edit-username" autocomplete="username" placeholder="New username" class="input-style">
						<p id="invalid-username-error">Username invalid</p>
						<p id="username-taken-error">Username already taken</p>
					</div>

                    <label for="edit-password">Password</label>
					<input type="password" id="edit-password" autocomplete="new-password" placeholder="New password" class="input-style">
				</form>
			</div>
			<div class="dialog-footer">
				<button id="close-edit-account" class="input-style">Cancel</button>
				<button type="submit" form="edit-account-form" id="confirm-edit-account" class="input-style">Save</button>
			</div>
		</div>
	</dialog>
{% endblock windows %}
{% block main %}
    <h2>Settings</h2>
    <div class="table-container">
        <table id="settings-table" class="collaps-table">
            <tbody>
                <tr id="clock-setting-row">
                    <th><label for="clock-input">Show Clock</label></th>
                    <td>
                        <select id="clock-input" class="input-style">
                            <option value="no">No</option>
                            <option value="without_seconds">Show, but not seconds</option>
                            <option value="with_seconds">Show, with seconds</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="locale-input">Locale</label></th>
                    <td>
                        <select id="locale-input" class="input-style">
                            <option value="ar-SA">ar-SA</option>
                            <option value="bn-BD">bn-BD</option>
                            <option value="bn-IN">bn-IN</option>
                            <option value="cs-CZ">cs-CZ</option>
                            <option value="da-DK">da-DK</option>
                            <option value="de-AT">de-AT</option>
                            <option value="de-CH">de-CH</option>
                            <option value="de-DE">de-DE</option>
                            <option value="el-GR">el-GR</option>
                            <option value="en-AU">en-AU</option>
                            <option value="en-CA">en-CA</option>
                            <option value="en-GB" selected>en-GB</option>
                            <option value="en-IE">en-IE</option>
                            <option value="en-IN">en-IN</option>
                            <option value="en-NZ">en-NZ</option>
                            <option value="en-US">en-US</option>
                            <option value="en-ZA">en-ZA</option>
                            <option value="es-AR">es-AR</option>
                            <option value="es-CL">es-CL</option>
                            <option value="es-CO">es-CO</option>
                            <option value="es-ES">es-ES</option>
                            <option value="es-MX">es-MX</option>
                            <option value="es-US">es-US</option>
                            <option value="fi-FI">fi-FI</option>
                            <option value="fr-BE">fr-BE</option>
                            <option value="fr-CA">fr-CA</option>
                            <option value="fr-CH">fr-CH</option>
                            <option value="fr-FR">fr-FR</option>
                            <option value="he-IL">he-IL</option>
                            <option value="hi-IN">hi-IN</option>
                            <option value="hu-HU">hu-HU</option>
                            <option value="id-ID">id-ID</option>
                            <option value="it-CH">it-CH</option>
                            <option value="it-IT">it-IT</option>
                            <option value="ja-JP">ja-JP</option>
                            <option value="ko-KR">ko-KR</option>
                            <option value="nl-BE">nl-BE</option>
                            <option value="nl-NL">nl-NL</option>
                            <option value="no-NO">no-NO</option>
                            <option value="pl-PL">pl-PL</option>
                            <option value="pt-BR">pt-BR</option>
                            <option value="pt-PT">pt-PT</option>
                            <option value="ro-RO">ro-RO</option>
                            <option value="ru-RU">ru-RU</option>
                            <option value="sk-SK">sk-SK</option>
                            <option value="sv-SE">sv-SE</option>
                            <option value="ta-IN">ta-IN</option>
                            <option value="ta-LK">ta-LK</option>
                            <option value="th-TH">th-TH</option>
                            <option value="tr-TR">tr-TR</option>
                            <option value="zh-CN">zh-CN</option>
                            <option value="zh-HK">zh-HK</option>
                            <option value="zh-TW">zh-TW</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="default-service-input">Default Notification Service</label></th>
                    <td><select id="default-service-input" class="input-style"></select></td>
                </tr>
                <tr>
                    <th><label for="open-edit-account">Edit Account</label></th>
                    <td>
                        <button id="open-edit-account" class="input-style">Edit Account</button>
                    </td>
                </tr>
                <tr>
                    <th><label for="open-delete-account">Delete Account</label></th>
                    <td><button id="open-delete-account" class="input-style">Delete Account</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>Contact and Donation</h2>
    <div class="contact-list">
        <a href="https://ko-fi.com/casvt">Donate to MIND</a>
        <a href="https://casvt.github.io/MIND/">Documentation</a>
        <a href="https://github.com/Casvt/MIND/issues">Report an issue</a>
        <a href="https://discord.gg/Xy9VUASHhr">Discord server</a>
    </div>
{% endblock main %}
